CSS * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 1rem;
}

p {
    padding: 0px;
}

/* Seletores de Classe */
.caixa {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
    background-color: #f4f4f9;
    color: #333333;
}

main {
    max-width: 80%;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position:relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid darkblue;
    text-align: center;
}
/* Seletores de Classe */

.caixa {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
    background-color: #f4f4f9;
    color: #333333;
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}
